# Arquivos de ambiente e credenciais
.env
credentials.json

# Arquivos de cache Python
__pycache__/
__pycache__
*.py[cod]
*$py.class

# Distribuição / empacotamento
dist/
build/
*.egg-info/

# Ambientes virtuais
venv/
env/
ENV/
.venv/

# Arquivos de IDE e editores
.idea/
.vscode/
*.swp
*.swo

# Arquivos de log
*.log

# Arquivos temporários do sistema
.DS_Store
Thumbs.db